/*RESET*/
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
/*RESET*/


/*TAGS*/
body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  background-color: #e7e7e7;
}

a, a:hover, a:active, a:visited {
  color: #a12500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  width: 600px;
  margin-bottom: 20px;
}

h1, h2 {
  margin-bottom: 15px;
}

blockquote {
  padding-left: 20px;
  border-left: 3px solid #ccc;
}

aside {
  display: block;
}

/*TAGS*/

.container {
  padding: 10px 10px 40px 10px;
  width: 950px;
  margin: 10px auto 30px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #ccc;
}

.content {
  padding-left: 50px;
}

.nav {
  float: left;
  padding-left: 50px;
}

.nav li {
  color: #a03615;
  display: inline;
  font-size: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}

.header {
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  overflow: auto;
  margin: 5px 0 30px 0;
  border-bottom: 1px solid #ccc;
}

.name {
  float: right;
}

/*Article Page*/

.article {
  display: inline-block;
}

aside {
  font-size: 12px;
  line-height: 18px;
  padding: 0 30px;
}

aside p {
  width: 400px;
}

.meta {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  color: #7A7A7A;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-left: 50px;
}

.meta p {
  margin-bottom: 5px;
  width: 200px;
}

.highlight {
  margin-bottom: 20px;
}

/*Archive Page*/
.archive-date {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
}













