/* BEGIN -- General Styleguide */
body {
  font-family : "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size   : 15px;
  line-height : 1.5em;
}

a {
  color : #c53d3d;
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

blockquote {
  border-left  : 2px solid #bbb;
  margin-left  : 30px;
  padding-left : 10px;
}

h2, h3 {
  font-weight   : bold;
  margin-top    : 25px;
  margin-bottom : 10px;
}

h2  {
  font-size : 1.875em;
}

h3 {
  font-size : 1.2em;
}

p, blockquote {
  font-family   : georgia, serif;
  font-size     : 1em;
  line-height   : 1.5em;
  margin-bottom : 15px;
}

/* END -- General Styleguide */

/* BEGIN -- Common Elements */

#header {
  background-color : #c53d3d;
  color            : #fff;
  padding          : 5px 10px 5px 10px;
  margin-bottom    : 15px;
  margin-top       : 15px;
  text-transform   : lowercase;
}

#container {
  margin : 0 auto;
  width  : 650px;
}

#navigation {
  float : right;
}

#navigation li {
  display      : inline;
  list-style   : none;
  padding-left : 20px;
}

#header a{
  color : #fff;
}

/* END -- Common Elements */

p.date {
  color          : #bbb;
  font-family    : "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size      : 0.875em;
  text-transform : uppercase;
  margin-top     : -5px;
}

.under-h2 {
  margin-top : 40px;
}

ul.archived li .date {
  font-family : monospace;
}