<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Can Duruk</title>
  <link href="/static/css/screen.css"
        media="screen, projection"
        rel="stylesheet" type="text/css" />
  <link href="/static/css/syntax.css"
        media="screen, projection"
        rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
      <div class="header">
        <ul class="nav">
          <li><a href="/" title="">Home</a></li>
          <li><a href="/about/" title="">About</a></li>
          <li><a href="/archive/" title="">Archive</a></li>
        </ul>
        <span class="name">Can Duruk</span>
      </div>
      <div class="content">
        {{content}}
      </div>
  </div>
</body>

