<!DOCTYPE HTML>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="static/css/reset.css" type="text/css">
    <link rel="stylesheet" media="screen" href="static/css/screen.css" type="text/css">
    <title>Can Duruk</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
          <span>Can Duruk</span>
          <ul id="navigation">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
          </ul>
      </div>
      {{ content }}
    </div>
  </body>
</html>
