<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" media="screen" href="/static/css/reset.css" type="text/css">
  <link rel="stylesheet" media="screen" href="/static/css/screen.css" type="text/css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=740">
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %} Can Duruk</title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12212482-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body {% if page.type %}class="{{page.type}}"{% endif %}>
    <div class="header">
    </div>
    <div class="content">
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/archive">Archive</a></li>
        </ul>
      </div>
      {{ content }}
    </div>
</body>
</html>
